//这个模块需要调用布局模块
@import "./layout.scss";

@mixin btn($size:.14rem /* 14/100 */,$color:#fff,$bgcolor:#F04752,$padding:.05rem /* 5/100 */,$radius:.05rem /* 5/100 */){
    padding:$padding;
    background-color: $bgcolor;
    border-radius:$radius;
    border:.01rem /* 1/100 */ solid $bgcolor;
    font-size:$size;
    color:$color;
    text-align:center;
    line-height: 1;
    display: inline-block;
}

@mixin list($direction:column) {
    @include flex($direction);
  }

@mixin panel($bgcolor:#fff,$padding:0,$margin:.2rem /* 20/100 */ 0,$height:1.12rem /* 112/100 */,$txtPadding:0 .32rem /* 32/100 */,$color:#333,$fontSize:.32rem /* 32/100 */) {
    background: $bgcolor;
    padding: $padding;
    margin: $margin;
    >h4{
      height: $height;
      line-height: $height;
      padding: $txtPadding;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      color: $color;
      font-size: $fontSize
    }
  }
  